# === MySQL Database ===
DB_HOST=*
DB_USER=*
DB_PASSWORD=*
DB_NAME=*
DB_PORT=*
DB_CHARSET=*

# === SmartShell Account 1 (Основной) ===
SMARTSHELL_GRAPHQL_URL=https://billing.smartshell.gg/api/graphql
SMARTSHELL_LOGIN=ВАШ_ЛОГИН
SMARTSHELL_PASSWORD=ВАШ_ПАРОЛЬ

# === SmartShell Account 2 (Монитор) ===
SMARTSHELL2_GRAPHQL_URL=https://billing.smartshell.gg/api/graphql
SMARTSHELL2_V2_GRAPHQL_URL=https://billing.smartshell.gg/api/v2/graphql
SMARTSHELL2_LOGIN=ВАШ_ЛОГИН_2
SMARTSHELL2_PASSWORD=ВАШ_ПАРОЛЬ_2

# === Google Sheets ===
GOOGLE_SHEETS_CREDENTIALS=credentials.json
GOOGLE_SHEETS_ID=ВАШ_ID_ТАБЛИЦЫ
GOOGLE_PROMO_SHEETS_ID=
GOOGLE_PROMO_SHEETS_WORKSHEET=Промокоды